<footer
  class="mt-auto d-flex flex-row justify-content-center align-items-center m-3"
>
  <p>
    <span id="currentYear">2025</span> &copy; Time Line Project developed by
    <a class="link-offset-3" href="https://github.com/Umka-dev" target="_blank"
      >Umka-dev</a
    >
  </p>
</footer>
