<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body
    class="container-fluid d-flex flex-column justify-content-start min-vh-100 bg-light text-black"
    style="max-width: 900px"
  >
    <!-- Header section -->
    <header class="d-flex flex-row align-items-center border-bottom mb-3">
      <h1 class="fs-4 fw-bold mt-5 mb-4">404 Page</h1>
    </header>
    <!-- Main content section -->
    <main class="container flex-grow-1">
      <p>Oops! Page not found.</p>
    </main>
    <!-- Footer section -->
    <%- include('./partials/footer') %>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../public/script.js" defer></script>
  </body>
</html>
